/OneDrive/Documentos/NetBeansProjects/proyectoFinalYP/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/creandoServlets/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/creandoServlets/build/
/OneDrive/Documentos/NetBeansProjects/SocketCliente/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/SocketClientes/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/SocketServidor/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/SocketServidor/build/
/OneDrive/Documentos/NetBeansProjects/SocketCliente/build/
/OneDrive/Documentos/NetBeansProjectsRespaldo/PeluqueriaCaninaNavas/build
/OneDrive/Documentos/NetBeansProjectsRespaldo/PeluqueriaCanina1/dist/
